{
    "openapi": "3.1.0",
    "info": {
        "title": "SiteBay",
        "description": "Manage WordPress sites on SiteBay: create and delete sites, manage files, run WP-CLI shell commands, manage DNS, interact with the WordPress REST API via wp-proxy, manage Shopify stores via shopify-proxy, and query analytics via posthog-proxy.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://my.sitebay.org"
        }
    ],
    "paths": {
        "/f/api/v1/account/shopify_store/{id}": {
            "patch": {
                "tags": [
                    "account"
                ],
                "summary": "Update a shopify store",
                "description": "Update a store's details. MCP Enabled.",
                "operationId": "update_shopify_store",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShopifyStoreUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Your store's details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopifyStore"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "Get Shopify Store",
                "description": "Get Linked Shopify Store. MCP Enabled.",
                "operationId": "shopify_store",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopifyStore"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/account/shopify_store": {
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "Get Shopify Stores",
                "description": "Get stores you have connected to your user account from Shopify Link. MCP Enabled.",
                "operationId": "shopify_stores",
                "responses": {
                    "200": {
                        "description": "JSON",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_ShopifyStore_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/account/referred_user": {
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "Get affiliate referrals",
                "description": "Retrieve data about users who have signed up using your links. MCP Enabled.",
                "operationId": "get_referred_users",
                "responses": {
                    "200": {
                        "description": "A list of affiliates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_UserAffiliate_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/account/git_repos": {
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "Get linked git repositories",
                "description": "Get the data for your linked GitHub/GitLab/Bitbucket repositories. MCP Enabled.",
                "operationId": "get_linked_git_repos_for_user",
                "responses": {
                    "200": {
                        "description": "Details of your linked GitHub/GitLab/Bitbucket repositories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": true,
                                    "type": "object",
                                    "title": "Response Get Linked Git Repos For User F Api V1 Account Git Repos Get"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/create_checkout_session": {
            "post": {
                "tags": [
                    "billing"
                ],
                "summary": "Buy a team through stripe checkout",
                "description": "Generate a stripe checkout URL. MCP Enabled.",
                "operationId": "create_checkout_session",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CheckoutSessionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": true,
                                    "type": "object",
                                    "title": "Response Create Checkout Session F Api V1 Create Checkout Session Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/shopify-proxy": {
            "post": {
                "tags": [
                    "proxy"
                ],
                "summary": "Shopify Admin API proxy",
                "description": "Proxies requests to a myshopify admin API. Use this to manage Shopify products, orders, themes, and other resources on a connected store. MCP Enabled.",
                "operationId": "proxy_to_shopify_site",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShopifyProxyParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON response from the Shopify Admin API",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/wp-proxy": {
            "post": {
                "tags": [
                    "proxy"
                ],
                "summary": "WordPress REST API proxy",
                "description": "Proxies requests to the WordPress REST API (wp-json/wp/v2) for a site you own. Use this to create/read/update/delete posts, pages, media, users, and other WordPress resources. Authentication is handled automatically. MCP Enabled.",
                "operationId": "proxy_to_wp_site",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WPProxyParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON response from the WordPress REST API",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/posthog-proxy": {
            "post": {
                "tags": [
                    "proxy"
                ],
                "summary": "PostHog analytics API proxy",
                "description": "Proxies requests to the PostHog analytics API for a team you belong to. Use this to query insights, list events, manage dashboards, and access site analytics. The path must include a project ID (e.g. /api/projects/6/insights). MCP Enabled.",
                "operationId": "proxy_to_posthog",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostHogProxyParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON response from the PostHog API",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/grafana-proxy": {
            "post": {
                "tags": [
                    "proxy"
                ],
                "summary": "Grafana API proxy",
                "description": "Proxies requests to the Grafana API for a team you belong to. Use this to query dashboards, datasources, and Loki log data. MCP Enabled.",
                "operationId": "proxy_to_grafana",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GrafanaProxyParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON response from the Grafana API",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/get_git_sync_repos": {
            "get": {
                "tags": [
                    "git"
                ],
                "summary": "Verify Git Sync Directories",
                "description": "Returns your account's linked Git Repos. MCP Enabled.",
                "operationId": "get_git_sync_repos",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ]
            }
        },
        "/f/api/v1/site/": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get your sites",
                "description": "Get details about all of your live sites. MCP Enabled.",
                "operationId": "get_sites",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Team Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_SiteLive_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Create a site",
                "description": "Create a new site by providing your domain and your site's WordPress details. If you don't include a region_name, your default region will be used. MCP Enabled.",
                "operationId": "create_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SiteLiveCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Your new site's details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SiteLive"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get your live site",
                "description": "Get details about your live site. MCP Enabled.",
                "operationId": "get_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SiteLive"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "sites"
                ],
                "summary": "Update a site",
                "description": "Update a site's details. MCP Enabled.",
                "operationId": "update_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SiteLiveUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Your site's details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SiteLive"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "sites"
                ],
                "summary": "Delete your live site",
                "description": "This permanently deletes your site, and its stage site if one exists. MCP Enabled.",
                "operationId": "delete_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/pit_restore/commits": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get backups to create PIT Restore",
                "description": "Give a restore point to get your closest minutely backup details. MCP Enabled.",
                "operationId": "get_backup_commits",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "restore_point",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Restore Point"
                        }
                    },
                    {
                        "name": "number_to_fetch",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "title": "Number To Fetch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BackupEntry"
                                    },
                                    "title": "Response Get Backup Commits F Api V1 Site  Fqdn  Pit Restore Commits Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/pit_restore/files": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "PIT Files",
                "description": "Get a list of wp-content files at a point in time. MCP Enabled.",
                "operationId": "get_files_at_point",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "restore_point",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "Restore Point"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/get_download_urls": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Get download URLs",
                "description": "Generate signed download URLs for specific backup files. MCP Enabled.",
                "operationId": "get_download_urls",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "at_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "At Date"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_get_download_urls_f_api_v1_site__fqdn__get_download_urls_post"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "title": "Response Get Download Urls F Api V1 Site  Fqdn  Get Download Urls Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/pit_restore": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get PIT Restores",
                "description": "Get all the results of a site's restores to a previous point in time. MCP Enabled.",
                "operationId": "get_pit_restores",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PIT Restores details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_PITRestore_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Create PIT Restore",
                "description": "Restore your site to a previous point in time, down to the minute. MCP Enabled.",
                "operationId": "restore_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PITRestoreCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PIT Restore details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PITRestore"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/pit_restore/{pit_restore_id}": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get PIT Restore",
                "description": "Get the results of a site's restore to a previous point in time. MCP Enabled.",
                "operationId": "get_pit_restore",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pit_restore_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "title": "Pit Restore Id"
                        }
                    },
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "title": "Format"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PIT Restore details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/pit_restore/preview": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Preview PIT Restore",
                "description": "Preview what would be restored without actually restoring. MCP Enabled.",
                "operationId": "preview_restore_site",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PITRestoreCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PIT Restore preview details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PITRestore"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/goto": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Navigate browser to a path on the site",
                "description": "Navigate the site's browser context to a given path. Auto-logs in on first use. MCP Enabled.",
                "operationId": "browser_goto",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserGotoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/screenshot": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Take a screenshot of the site",
                "description": "Returns a base64-encoded PNG screenshot of the current page. MCP Enabled.",
                "operationId": "browser_screenshot",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserScreenshotRequest",
                                "default": {
                                    "full_page": false
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/click": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Click an element on the site",
                "description": "Click an element by CSS selector in the site's browser context. MCP Enabled.",
                "operationId": "browser_click",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserClickRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/fill": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Fill a form field on the site",
                "description": "Fill a form field by CSS selector. MCP Enabled.",
                "operationId": "browser_fill",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserFillRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/eval": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Run JavaScript on the site",
                "description": "Execute JavaScript in the site's browser context and return the result. MCP Enabled.",
                "operationId": "browser_eval",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserEvalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/text": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Get text content of an element",
                "description": "Get visible text content of a CSS-selected element (default: body). MCP Enabled.",
                "operationId": "browser_text",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BrowserTextRequest",
                                "default": {
                                    "selector": "body"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/browser/admin-cookie": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Generate a WordPress admin auth cookie for the site",
                "description": "Generates a short-lived WordPress admin authentication cookie via WP-CLI. Returns { name, value, domain } so the agent can inject it into a headless browser context to access /wp-admin/ pages without going through the login flow. MCP Enabled.",
                "operationId": "browser_admin_cookie",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/dns": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get DNS records",
                "description": "Get DNS records for nameserver configured sites. MCP Enabled.",
                "operationId": "get_dns_records",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": true
                                    },
                                    "title": "Response Get Dns Records F Api V1 Site  Fqdn  Dns Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Create DNS record",
                "description": "Create Cloudflare DNS record. MCP Enabled.",
                "operationId": "create_dns_record",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "dns_name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Dns Name"
                        }
                    },
                    {
                        "name": "dns_content",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Dns Content"
                        }
                    },
                    {
                        "name": "dns_type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Dns Type"
                        }
                    },
                    {
                        "name": "proxied",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Proxied"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Create Dns Record F Api V1 Site  Fqdn  Dns Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/dns/{dns_id}": {
            "delete": {
                "tags": [
                    "sites"
                ],
                "summary": "Delete DNS record",
                "description": "Delete DNS record. MCP Enabled.",
                "operationId": "delete_dns_record",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "dns_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Dns Id"
                        }
                    },
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "title": "Response Delete Dns Record F Api V1 Site  Fqdn  Dns  Dns Id  Delete"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/external_path": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get external paths",
                "description": "Get all external paths for site. MCP Enabled.",
                "operationId": "get_external_paths",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_ExternalPath_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Create external path",
                "description": "Create external path. MCP Enabled.",
                "operationId": "create_external_path",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPathCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExternalPath"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile/read": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Read a WordPress file",
                "description": "Read file contents from wp-content/. Supports line ranges. MCP Enabled.",
                "operationId": "read_file",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileReadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Read File F Api V1 Site  Fqdn  Wpfile Read Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile/edit": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Edit a WordPress file",
                "description": "Edit a file using search/replace blocks. Supports dry_run to preview diff. MCP Enabled.",
                "operationId": "edit_file",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileEditRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Edit File F Api V1 Site  Fqdn  Wpfile Edit Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile/read_and_edit": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Read then edit a WordPress file",
                "description": "Atomically read a file and apply edits. Returns the original content alongside the edit result. Supports dry_run. MCP Enabled.",
                "operationId": "read_and_edit_file",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReadAndEditRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Read And Edit File F Api V1 Site  Fqdn  Wpfile Read And Edit Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile/tree": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "List wp-content file tree",
                "description": "Get a directory tree of wp-content/ with file sizes. MCP Enabled.",
                "operationId": "file_tree",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileTreeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response File Tree F Api V1 Site  Fqdn  Wpfile Tree Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile/multi_edit": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Edit multiple files atomically",
                "description": "Apply search/replace edits to multiple files in one request. All-or-nothing: if any edit fails, all changes are rolled back. Supports dry_run. MCP Enabled.",
                "operationId": "multi_edit_files",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MultiEditRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Multi Edit Files F Api V1 Site  Fqdn  Wpfile Multi Edit Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/wpfile_diff_edit": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Diff Edit",
                "description": "Edit a file in your wp-content folder. MCP Enabled.",
                "operationId": "diff_edit",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileEdit"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "title": "Response Diff Edit F Api V1 Site  Fqdn  Wpfile Diff Edit Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/git": {
            "delete": {
                "tags": [
                    "sites"
                ],
                "summary": "Unlink git repository",
                "description": "Unlink the git repository from this site. MCP Enabled.",
                "operationId": "unlink_git",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "title": "Response Unlink Git F Api V1 Site  Fqdn  Git Delete"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/logs/{container_name}": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get container logs",
                "description": "Get container logs for debugging. MCP Enabled.",
                "operationId": "get_container_logs",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "container_name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Container Name"
                        }
                    },
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "lines",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Number of log lines to retrieve",
                            "default": 100,
                            "title": "Lines"
                        },
                        "description": "Number of log lines to retrieve"
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Timestamp to retrieve logs since",
                            "title": "Since"
                        },
                        "description": "Timestamp to retrieve logs since"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Get Container Logs F Api V1 Site  Fqdn  Logs  Container Name  Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/logs": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get site logs",
                "description": "Get WordPress/git-sync logs. MCP Enabled.",
                "operationId": "get_site_logs",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    },
                    {
                        "name": "log_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Type of logs to retrieve",
                            "default": "wordpress",
                            "title": "Log Type"
                        },
                        "description": "Type of logs to retrieve"
                    },
                    {
                        "name": "lines",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Number of log lines to retrieve",
                            "default": 100,
                            "title": "Lines"
                        },
                        "description": "Number of log lines to retrieve"
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Log level filter (error, warning, info, debug)",
                            "title": "Level"
                        },
                        "description": "Log level filter (error, warning, info, debug)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Get Site Logs F Api V1 Site  Fqdn  Logs Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/cmd": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Execute shell command",
                "description": "Send a bash shell command to your site, such as a WP-CLI command. MCP Enabled.",
                "operationId": "execute_shell_command",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShellCommandRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/tools": {
            "get": {
                "tags": [
                    "sites"
                ],
                "summary": "Get Cloudflare tools",
                "description": "Get Cloudflare tools info and current zone settings. MCP Enabled.",
                "operationId": "get_cloudflare_tools",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/cf_settings": {
            "patch": {
                "tags": [
                    "sites"
                ],
                "summary": "Update Cloudflare zone settings",
                "description": "Toggle one or more Cloudflare performance/security settings. MCP Enabled.",
                "operationId": "update_cf_settings",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CfSettingsPatch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Update Cf Settings F Api V1 Site  Fqdn  Cf Settings Patch"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/clear_cache": {
            "post": {
                "tags": [
                    "sites"
                ],
                "summary": "Purge Cloudflare CDN cache",
                "description": "Purge all cached content for the site. MCP Enabled.",
                "operationId": "clear_cache",
                "security": [
                    {
                        "OAuth2PasswordBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fqdn",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Fqdn"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "title": "Response Clear Cache F Api V1 Site  Fqdn  Clear Cache Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/f/api/v1/site/{fqdn}/ns_status": {
            "get": {
                "tags": [
[...]
